 /*h2.form-title {
    border: 5px outset red;
    background-color: black;
    text-align: center;
  }

.form-group {
    border: 5px outset red;
    background-color: black;
    text-align: center;
} */


/* .addapp-form{
  border: "1px";
  width: "200px";
  height:"50px";
  borderRadius: "30px"; 
  float:"center";
  boxShadow: " 10px 10px 5px rgba(150, 168, 156)";
  marginBottom:"30px";
} */


/* border:"0.5px solid rgba(150, 168, 156)",
marginLeft: "2%",
marginTop: "70px",
color:"white",
borderRadius: "30px",
boxShadow: " 10px 10px 5px rgba(150, 168, 156)",
width:"450px",
padding: "5px", */

/*tr:nth-child(odd){
/*
tr:nth-child(odd){
  background-color: rgb(180, 240, 158);
  padding: 15px;
  border-color: none;
}


tr:nth-child(odd):hover{
  background-color: rgb(195, 240, 207);
  transform: scale(1.055);
  transition: transform 300ms ease-in;
}

tr:nth-child(even):hover{
  background-color: rgb(195, 240, 207);
  transform: scale(1.055);
  transition: transform 300ms ease-in;
}
*/