.container{
    position: relative;
    background-color: #d7eedd;
    border-radius: 10px;
    margin:auto;
    padding: 15px 10px 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 326px;
    box-sizing: border-box;
    
   
  }


  .registrationbackimages{
  
  background-image: url(./eventimages/agri4.jpg);
  background-position:center;
  background-size:contain;
  font-family: 'Trebuchet MS', sans-serif;

 
  
  }
  .registrationforevent{
  
  width: 299px;
  background-color: rgba(4, 45, 10, 0.6);
  margin: auto;
  color: #ffffff;
  padding:10px 0px 10px 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  
  }
 .alert-txt{

  font-style:initial;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(217, 0, 43);
 }